.container {
  background: linear-gradient(to bottom, var(--black), var(--green));
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px; /* Adicionado para evitar corte lateral em telas pequenas */
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 100vh;
}

.logo {
  width: 700px;
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.contactButton {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--black);
  font-family: roboto, sans-serif;
  border: none;
  padding: 20px 30px;
  font-weight: bold;
  border-radius: 25px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tablets */
@media (max-width: 1024px) {
  .logo {
    width: 500px;
  }

  .contactButton {
    font-size: 18px;
    padding: 15px 25px;
  }
}

/* Celulares */
@media (max-width: 576px) {
  .logo {
    width: 90%; /* Mantém o logo visível sem cortar */
  }

  .contactButton {
    font-size: 16px;
    padding: 10px 20px;
  }
}
