.container {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  flex-wrap: wrap;
    overflow-x: hidden;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 170px;
  flex: 1;
  flex-wrap: wrap;
}

.tagA {
  color: var(--white);
  font-weight: 500;
  font-family: roboto, sans-serif;
  font-size: 23px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.tagA:hover {
  color: var(--gray);
}

/* Tablets */
@media (max-width: 991px) {
  .container {
    flex-direction: column;
    align-items: center;
      overflow-x: hidden;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    align-items: center;
  }

  .tagA {
    font-size: 18px;
  }
}

/* Celulares */
@media (max-width: 576px) {
  .container {
    padding: 10px;
      overflow-x: hidden;
  }

  .logo {
    width: 50px;
  }

  .menu {
    gap: 10px;
  }

  .tagA {
    font-size: 16px;
  }
}
